In [1]:
#Project 02 - Volcanoes
#Brett Brandom, Joshua Bui, Jonathan Orozco, Caitlyn Ta
#Web Scraping for Volcano images

In [2]:
# import libraries and dependencies

import time
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import numpy as np
from selenium import webdriver

In [3]:
# Smithsonian Institution URL to Scrape for Volcano Images

executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=True)
vol_url = 'http://volcano.si.edu/'
browser.visit(vol_url)

In [4]:
# Retrieve images

html = browser.html
soup = bs(html, 'html.parser')

In [5]:
# Find the div that will allow you to retrieve the images from the home page of Smithsonian
# loop through to get all the images and append to a list

vol_img = []

for link in soup.find_all(alt="Volcano photo slideshow"):
    vol_img.append(f'http://volcano.si.edu{link["src"]}')

print(vol_img)

['http://volcano.si.edu/photos/full/067012.jpg', 'http://volcano.si.edu/photos/full/101069.jpg', 'http://volcano.si.edu/photos/full/022027.jpg', 'http://volcano.si.edu/photos/full/008011.jpg', 'http://volcano.si.edu/photos/full/076093.jpg', 'http://volcano.si.edu/photos/full/103098.jpg', 'http://volcano.si.edu/photos/full/114027.jpg', 'http://volcano.si.edu/photos/full/022043.jpg', 'http://volcano.si.edu/photos/full/081082.jpg']

In [6]:
# To print one image, you must use index (there's 9, [0], [1], [2], [3], [4], [5], [6], [7], [8])
print(vol_img[0])

http://volcano.si.edu/photos/full/067012.jpg

In [7]:
volcanoes = {}

In [8]:
volcanoes['vol_img'] = vol_img

In [9]:
volcanoes['vol_img'][0]

'http://volcano.si.edu/photos/full/067012.jpg'

In [35]:
url1 = 'https://www.ngdc.noaa.gov/nndc/DescribeField.jsp?dataset=102557&s=77&field_name=HAZ.VOLCANO_EVENT.VEI'
tables = pd.read_html(url1)
tables[0]

,0,1,2,3,4,5,6,7
0,VEI,General Description,Cloud Column Height (km),Volume (m3),Qualititative Description,Classification,How often,Example
1,0,non-explosive,<0.1,1x104,Gentle,Hawaiian,daily,Kilauea
2,1,Small,0.1-1,1x106,Effusive,Haw/Strombolian,daily,Stromboli
3,2,Moderate,1-5,1x107,Explosive,Strom/Vulcanian,weekly,"Galeras, 1992"
4,3,Moderate-Large,3-15,1x108,Explosive,Vulcanian,yearly,"Ruiz, 1985"
5,4,Large,10-25,1x109,Explosive,Vulc/Plinian,10's of years,"Galunggung, 1982"
6,5,Very Large,>25,1x1010,Cataclysmic,Plinian,100's of years,"St. Helens, 1981"
7,6,NaN,>25 km,1x1011,paroxysmal,Plin/Ultra-Plinian,100's of years,"Krakatau, 1883"
8,7,NaN,>25 km,1x1012,colossal,Ultra-Plinian,1000's of years,"Tambora, 1815"
9,8,NaN,>25 km,>1x1012,colossal,Ultra-Plinian,"10,000's of years","Yellowstone, 2 Ma"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
url1 = 'https://www.ngdc.noaa.gov/nndc/DescribeField.jsp?dataset=102557&s=77&field_name=HAZ.VOLCANO_EVENT.VEI'
tables = pd.read_html(url1)[0]
tablesv1 = tables.rename(columns=tables.iloc[0]).drop(tables.index[0]).reset_index(drop=True)

tablesv2 = tablesv1.drop(tablesv1.index[9])
tablesv3 = tablesv2.set_index('VEI',drop=True)
tablesv4 = tablesv3.to_html(classes = 'table table-striped')
print(tablesv4)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>General Description</th>
      <th>Cloud Column Height (km)</th>
      <th>Volume (m3)</th>
      <th>Qualititative Description</th>
      <th>Classification</th>
      <th>How often</th>
      <th>Example</th>
    </tr>
    <tr>
      <th>VEI</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>non-explosive</td>
      <td>&lt;0.1</td>
      <td>1x104</td>
      <td>Gentle</td>
      <td>Hawaiian</td>
      <td>daily</td>
      <td>Kilauea</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Small</td>
      <td>0.1-1</td>
      <td>1x106</td>
      <td>Effusive</td>
      <td>Haw/Strombolian</td>
      <td>daily</td>
      <td>Stromboli</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moderate</td>
      <td>1-5</td>
      <td>1x107</td>
      <td>Explosive</td>
      <td>Strom/Vulcanian</td>
      <td>weekly</td>
      <td>Galeras, 1992</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moderate-Large</td>
      <td>3-15</td>
      <td>1x108</td>
      <td>Explosive</td>
      <td>Vulcanian</td>
      <td>yearly</td>
      <td>Ruiz, 1985</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Large</td>
      <td>10-25</td>
      <td>1x109</td>
      <td>Explosive</td>
      <td>Vulc/Plinian</td>
      <td>10's of years</td>
      <td>Galunggung, 1982</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Very Large</td>
      <td>&gt;25</td>
      <td>1x1010</td>
      <td>Cataclysmic</td>
      <td>Plinian</td>
      <td>100's of years</td>
      <td>St. Helens, 1981</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>&gt;25 km</td>
      <td>1x1011</td>
      <td>paroxysmal</td>
      <td>Plin/Ultra-Plinian</td>
      <td>100's of years</td>
      <td>Krakatau, 1883</td>
    </tr>
    <tr>
      <th>7</th>
      <td>NaN</td>
      <td>&gt;25 km</td>
      <td>1x1012</td>
      <td>colossal</td>
      <td>Ultra-Plinian</td>
      <td>1000's of years</td>
      <td>Tambora, 1815</td>
    </tr>
    <tr>
      <th>8</th>
      <td>NaN</td>
      <td>&gt;25 km</td>
      <td>&gt;1x1012</td>
      <td>colossal</td>
      <td>Ultra-Plinian</td>
      <td>10,000's of years</td>
      <td>Yellowstone, 2 Ma</td>
    </tr>
  </tbody>
</table>

In [29]:
tablesv3 = tablesv2.reset_index(drop=True)
tablesv3

,VEI,General Description,Cloud Column Height (km),Volume (m3),Qualititative Description,Classification,How often,Example
0,0,non-explosive,<0.1,1x104,Gentle,Hawaiian,daily,Kilauea
1,1,Small,0.1-1,1x106,Effusive,Haw/Strombolian,daily,Stromboli
2,2,Moderate,1-5,1x107,Explosive,Strom/Vulcanian,weekly,"Galeras, 1992"
3,3,Moderate-Large,3-15,1x108,Explosive,Vulcanian,yearly,"Ruiz, 1985"
4,4,Large,10-25,1x109,Explosive,Vulc/Plinian,10's of years,"Galunggung, 1982"
5,5,Very Large,>25,1x1010,Cataclysmic,Plinian,100's of years,"St. Helens, 1981"
6,6,NaN,>25 km,1x1011,paroxysmal,Plin/Ultra-Plinian,100's of years,"Krakatau, 1883"
7,7,NaN,>25 km,1x1012,colossal,Ultra-Plinian,1000's of years,"Tambora, 1815"
8,8,NaN,>25 km,>1x1012,colossal,Ultra-Plinian,"10,000's of years","Yellowstone, 2 Ma"